- content_for :title, "New Order"
- content_for :heading, "New Order"
- content_for :breadcrumbs do
  %li.breadcrumb-item
    %a{href: orders_path}= fa_icon 'cubes', text: 'Orders'
  %li.breadcrumb-item.active New

= render 'form'
